html,
body{
    width:100%;
    height:100%;
}
*{
    margin:0;
    padding:0;
}
.fullscreen-container{
    overflow:hidden;
    width:100%;
    height:100%;
}
#all-pages{
    position:relative;
    top:0;
    transition: all 1000ms ease;
    /* height set by js */
}
.page{
    height:100%;
    width:100%;
}
#all-pages .page:nth-child(1){
    background: #e8d934;
}
#all-pages .page:nth-child(2){
    background: #f0a090;
}
#all-pages .page:nth-child(3){
    background: #a8c34f;
}
.nav-dot-container{
    position:fixed;
    top:50%;
    right:20px;
    transform:translateY(-50%);
}
.nav-dot{
    width:20px;
    height:30px;
    padding:20px 0px;
    margin:auto;
}
.nav-dot span{
    display:block;
    width:10px;
    height:10px;
    border-radius:50%;
    background:white;
    transition:all 200ms ease;
    margin: auto;
}
.nav-dot span:hover{
    width:12px;
    height:12px;
}
.nav-dot.dot-active span{
    width:15px;
    height:15px;
}
