html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
}
*{
    margin:0;
    padding:0;
}
.container{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#f7f0e5;
}
.container *,
.container *::before,
.container *::after{
    display:block;
    position:absolute;
    content:"";
}
.container button{
    background:transparent;
    border:none;
    outline:none;
    cursor:pointer;
}
button::-moz-focus-inner{
    border:none;
}
#arrsdown{
    display:block;
    top:50%;
    left:50%;
    margin-top:140px;
    margin-left:-22px;
}
@keyframes bounce_down{
    0%, 50%, 100%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }20%, 80%{
        -webkit-transform:translateY(-5px);
        transform:translateY(-5px);
    }40%{
        -webkit-transform:translateY(10px);
        transform:translateY(10px);
    }60%{
        -webkit-transform:translateY(8px);
        transform:translateY(8px);
    }
}
#arrdown1{
    top:12px;
}
#arrdown1::before, #arrdown1::after,
#arrdown2::before, #arrdown2::after{
    border-top:22px solid #b9c49f;
    border-left:22px solid transparent;
    border-right:22px solid transparent;
    border-bottom:none;
}
#arrdown1::before,
#arrdown2::before{
    top:3px;
    left:0;
    border-top:22px solid #f7f0e5;
}
.walk_arrdown2{
    -webkit-animation:arrow_scrolldown .5s linear infinite;
    animation:arrow_scrolldown .5s linear infinite;
}
.walk_arrdown1{
    top:0px;
    -webkit-animation:arrow_scrolldown .5s .25s linear infinite;
    animation:arrow_scrolldown .5s .25s linear infinite;
}
@keyframes arrow_scrolldown {
    0%{
        opacity:0;
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
    }15%{
        opacity:1;
        transform:translateY(0px);
    }85%{
        opacity:1;
        transform:translateY(12px);
    }100%{
        opacity:0;
        transform:translateY(12px);
    }
}
#walkbtn{
    margin-left:-5px;
    width:54px;
    height:44px;
}
#leftbtn{
    width:44px;
    height:54px;
    left:-22px;
    margin-top:-5px;
}
/*left buttons*/
#arrsleft{
    top:50%;
    left:50%;
    margin-left:-112px;
    cursor:pointer;
}
@keyframes bounce_left{
    0%, 50%, 100%{
        transform:translateX(0);
    }20%, 80%{
        transform:translatex(5px);
    }40%{
        transform:translateX(-10px);
    }60%{
        transform:translateX(-8px);
    }
}
#arrleft1{
    left:-12px;
}
#arrleft1::before, #arrleft1::after,
#arrleft2::before, #arrleft2::after{
    border-right:22px solid #b9c49f;
    border-top:22px solid transparent;
    border-bottom:22px solid transparent;
    border-left:none;
}
#arrleft1::before,
#arrleft2::before{
    left:-3px;
    top:0;
    border-right:22px solid #f7f0e5;
}
.pressleft_arrleft2{
    -webkit-animation:arrow_scrollleft .5s linear 1;
    animation:arrow_scrollleft .5s linear 1;
}
.pressleft_arrleft1{
    top:0px;
    -webkit-animation:arrow_scrollleft .5s .25s linear 1;
    animation:arrow_scrollleft .5s .25s linear 1;
}
@keyframes arrow_scrollleft {
    0%{
        opacity:0;
        -webkit-transform:translateX(0px);
        transform:translateX(0px);
    }15%{
        opacity:1;
        -webkit-transform:translateX(0px);
        transform:translateX(0px);
    }85%{
        opacity:1;
        -webkit-transform:translateX(-12px);
        transform:translateX(-12px);
    }100%{
        opacity:0;
        -webkit-transform:translateX(-12px);
        transform:translateX(-12px);
    }
}
/*right buttons*/
#arrsright{
    display:block;
    top:50%;
    left:50%;
    margin-left:90px;
}
#rightbtn{
    width:44px;
    height:54px;
    left:-12px;
    margin-top:-5px;
}
@keyframes bounce_right{
    0%, 50%, 100%{
        -webkit-transform:translateX(0);
        transform:translateX(0);
    }20%, 80%{
        -webkit-transform:translatex(-5px);
        transform:translatex(-5px);
    }40%{
        -webkit-transform:translateX(10px);
        transform:translateX(10px);
    }60%{
        -webkit-transform:translateX(8px);
        transform:translateX(8px);
    }
}
#arrright1{
    left:12px;
}
#arrright1::before, #arrright1::after,
#arrright2::before, #arrright2::after{
    border-left:22px solid #b9c49f;
    border-top:22px solid transparent;
    border-bottom:22px solid transparent;
    border-right:none;
}
#arrright1::before,
#arrright2::before{
    left:3px;
    top:0;
    border-left:22px solid #f7f0e5;
}
.pressright_arrright2{
    -webkit-animation:arrow_scrollright .5s linear 1;
    animation:arrow_scrollright .5s linear 1;
}
.pressright_arrright1{
    top:0px;
    -webkit-animation:arrow_scrollright .5s .25s linear 1;
    animation:arrow_scrollright .5s .25s linear 1;
}
@keyframes arrow_scrollright {
    0%{
        opacity:0;
        -webkit-transform:translateX(0px);
        transform:translateX(0px);
    }15%{
        opacity:1;
        -webkit-transform:translateX(0px);
        transform:translateX(0px);
    }85%{
        opacity:1;
        -webkit-transform:translateX(12px);
        transform:translateX(12px);
    }100%{
        opacity:0;
        -webkit-transform:translateX(12px);
        transform:translateX(12px);
    }
}
#deer{
    --head:#ff8a74;
    --stomoch:#fee9c1;
    --eye:#66635e;
    width:170px;
    height:250px;
    top:50%;
    left:50%;
    margin:-125px -85px;
}
#head{
    top:21px;
    left:50%;
    z-index:3;
}
#face{
    width:116px;
    height:100px;
    margin-left:-58px;
    background:var(--head);
    border-radius:50%;
    -webkit-box-shadow:0 0 0px 1px var(--stomoch) inset;
    box-shadow:0 0 0px 1px var(--stomoch) inset;
}
#face>p{
    width:138px;
    height:78px;
    background:var(--head);
    border-radius:50%;
    top:40px;
    left:50%;
    margin-left:-69px;
}
#nose{
    width:24px;
    height:15px;
    background:var(--stomoch);
    border-radius:50%;
    top:70px;
    margin-left:-12px;
}
#nose p:nth-child(1){
    width:12px;
    height:12px;
    border-radius:50%;
    background:var(--eye);
    top:-10px;
    left:50%;
    margin-left:-45px;
}
#nose p:nth-child(2){
    width:12px;
    height:12px;
    border-radius:50%;
    background:var(--eye);
    top:-10px;
    left:50%;
    margin-left:33px;
}
#ear{
    width:50px;
    height:26px;
    border-radius:0 0 26px 26px;
    top:32px;
    margin-left:-83px;
    background:var(--head);
}
#ear>p{
    width:50px;
    height:26px;
    border-radius:0 0 26px 26px;
    margin-left:116px;
    background:var(--head);
}
#horn_left{
    width:10px;
    height:45px;
    border-radius:5px/20px 20px 0 0;
    background:var(--eye);
    top:-30px;
    margin-left:-40px;
    -webkit-transform:rotate(-20deg);
    transform:rotate(-20deg);
}
#horn_left>p{
    width:20px;
    height:8px;
    border-radius:10px 0 0 10px/4px;
    background:var(--eye);
    top:25px;
    left:-15px;
    -webkit-transform:rotate(20deg);
    transform:rotate(20deg);
}
#horn_right{
    width:10px;
    height:45px;
    border-radius:5px/20px 20px 0 0;
    background:var(--eye);
    top:-30px;
    margin-left:30px;
    -webkit-transform:rotate(20deg);
    transform:rotate(20deg);
}
#horn_right>p{
    width:20px;
    height:8px;
    border-radius:0 10px 10px 0/4px;
    background:var(--eye);
    top:25px;
    left:5px;
    -webkit-transform:rotate(-20deg);
    transform:rotate(-20deg);
}
#body{
    top:120px;
    left:50%;
}
#main_body{
    width:84px;
    height:110px;
    border-radius:50%;
    margin-left:-42px;
    background:var(--head);
}
#stomoch{
    width:44px;
    height:70px;
    border-radius:50%;
    margin-left:-22px;
    top:20px;
    background:var(--stomoch);
    z-index:1;
}
#hands *{
    width:20px;
    height:70px;
    top:10px;
    background:var(--head);
    z-index:2;
}
#hands>p:nth-child(1){
    left:-35px;
    border-radius:10px 10px 20px 10px;
    -webkit-transform-origin:top right;
    transform-origin:top right;
    -webkit-transform:rotate(20deg);
    transform:rotate(20deg);
}
#hands>p:nth-child(2){
    left:15px;
    border-radius:10px 10px 10px 20px;
    -webkit-transform-origin:top left;
    transform-origin:top left;
    -webkit-transform:rotate(-20deg);
    transform:rotate(-20deg);
}
.walk_rhand{
    -webkit-transform:rotate(20deg) rotateX(0);
    transform:rotate(20deg) rotateX(0);
    height:70px;
    -webkit-animation:hand_r 1s ease-in-out infinite;
    animation:hand_r 1s ease-in-out infinite;
}
.walk_lhand{
    -webkit-transform:rotate(-20deg) rotateX(0);
    transform:rotate(-20deg) rotateX(0);
    height:70px;
    -webkit-animation:hand_l 1s ease-in-out infinite;
    animation:hand_l 1s ease-in-out infinite;
}
@keyframes hand_r{
    25%{
        -webkit-transform:rotate(30deg) rotateX(-30deg);
        transform:rotate(30deg) rotateX(-30deg);
        height:70px;
    }50%{
        -webkit-transform:rotate(20deg) rotateX(0);
        transform:rotate(20deg) rotateX(0);
        height:70px;
    }75%{
        -webkit-transform:rotate(3deg) rotateX(30deg);
        transform:rotate(3deg) rotateX(30deg);
        height:80px;
    }
}
@keyframes hand_l{
    25%{
        -webkit-transform:rotate(-3deg) rotateX(30deg);
        transform:rotate(-3deg) rotateX(30deg);
        height:80px;
    }50%{
        -webkit-transform:rotate(-20deg) rotateX(0);
        transform:rotate(-20deg) rotateX(0);
        height:70px;
    }75%{
        -webkit-transform:rotate(-30deg) rotateX(-30deg);
        transform:rotate(-30deg) rotateX(-30deg);
        height:70px;
    }
}
#foots{
    z-index:0;
}
#foots *{
    top:80px;
    width:23px;
    height:52px;
    background:var(--head);
}
#foots>p:nth-child(1){
    border-radius:0 0 5px 15px;
    left:-30px;
}

#foots>p:nth-child(2){
    border-radius:0 0 15px 5px;
    left:7px;
}
.walk_rfoot{
    -webkit-transform-origin:left top;
    transform-origin:left top;
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-animation:foot_r 1s ease-in-out infinite;
    animation:foot_r 1s ease-in-out infinite;
}
.walk_lfoot{
    -webkit-transform-origin:right top;
    transform-origin:right top;
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-animation:foot_l 1s ease-in-out infinite;
    animation:foot_l 1s ease-in-out infinite;
}
@keyframes foot_r{
    0%{
        -webkit-transform:rotate(-10deg);
        transform:rotate(-10deg);
        height:52px;
    }25%{
        -webkit-transform:rotate(-5deg);
        transform:rotate(-5deg);
        height:65px;
    }50%{
        -webkit-transform:rotate(-10deg);
        transform:rotate(-10deg);
        height:52px;
    }75%{
        -webkit-transform:rotate(-15deg);
        transform:rotate(-15deg);
        height:52px;
    }100%{
        -webkit-transform:rotate(-10deg);
        transform:rotate(-10deg);
        height:52px;
    }
}
@keyframes foot_l{
    0%{
        -webkit-transform:rotate(10deg);
        transform:rotate(10deg);
        height:52px;
    }25%{
        -webkit-transform:rotate(15deg);
        transform:rotate(15deg);
        height:52px;
    }50%{
        -webkit-transform:rotate(10deg);
        transform:rotate(10deg);
        height:52px;
    }75%{
        -webkit-transform:rotate(5deg);
        transform:rotate(5deg);
        height:65px;
    }100%{
        -webkit-transform:rotate(10deg);
        transform:rotate(10deg);
        height:52px;
    }
}
.pressleft_deer{
    -webkit-transform-origin:67px 200px;
    transform-origin:67px 200px;
    -webkit-animation:deer_lp .7s ease-out 1;
    animation:deer_lp .7s ease-out 1;
}
@keyframes deer_lp{
    50%{
        -webkit-transform:rotate(-15deg); 
        transform:rotate(-15deg); 
    }
}
.pressleft_rhand{
    -webkit-animation:rhand_lp .7s ease-out 1;
    animation:rhand_lp .7s ease-out 1;
}
@keyframes rhand_lp{
    25%{
        top:30px;
        height:50px;
    }
    50%{
        -webkit-transform:rotate(100deg); 
        transform:rotate(100deg); 
        top:30px;
        height:75px;
    }
}
.pressleft_rfoot{
    -webkit-transform-origin:center top;
    transform-origin:center top;
    -webkit-animation:footr_lp .7s ease-out 1;
    animation:footr_lp .7s ease-out 1;
}
@keyframes footr_lp{
    50%{
        -webkit-transform:rotate(15deg); 
        transform:rotate(15deg); 
    }
}
.pressleft_lfoot{
    -webkit-animation:footl_lp .7s linear 1;
    animation:footl_lp .7s linear 1;
}
@keyframes footl_lp{
    50%{
        height:62px;
    }
}
.pressright_deer{
    -webkit-transform-origin:103px 200px;
    transform-origin:103px 200px;
    -webkit-animation:deer_rp .7s ease-out 1;
    animation:deer_rp .7s ease-out 1;
}
@keyframes deer_rp{
    50%{
        -webkit-transform:rotate(15deg); 
        transform:rotate(15deg); 
    }
}
.pressright_lhand{
    -webkit-animation:lhand_rp .7s ease-out 1;
    animation:lhand_rp .7s ease-out 1;
}
@keyframes lhand_rp{
    25%{
        top:30px;
        height:50px;
    }
    50%{
        -webkit-transform:rotate(-100deg); 
        transform:rotate(-100deg); 
        top:30px;
        height:75px;
    }
}
.pressright_lfoot{
    -webkit-transform-origin:center top;
    transform-origin:center top;
    -webkit-animation:footl_rp .7s ease-out 1;
    animation:footl_rp .7s ease-out 1;
}
@keyframes footl_rp{
    50%{
        -webkit-transform:rotate(-15deg); 
        transform:rotate(-15deg); 
    }
}
.pressright_rfoot{
    -webkit-animation:footr_rp .7s linear 1;
    animation:footr_rp .7s linear 1;
}
@keyframes footr_rp{
    50%{
        height:62px;
    }
}
.hover_arrsdown:hover{
    -webkit-animation: bounce_down 1s ease infinite;
    animation: bounce_down 1s ease infinite;
}
.hover_arrsleft:hover{
    -webkit-animation: bounce_left 1s ease infinite;
    animation: bounce_left 1s ease infinite;
}
.hover_arrsright:hover{
    -webkit-animation: bounce_right 1s ease infinite;
    animation: bounce_right 1s ease infinite;
}
